{% extends 'base.html' %}

<title>Sign Up</title>
{% block head %}

      {% if messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
{% endblock head %}
{% block css %}
"background-image: url('https://source.unsplash.com/random/1920x1080/?wallpaper,landscape');"
{% endblock css %}

{% block body %}


<center> 
    <div style=" backdrop-filter: blur(4px) ;width:25%;height:300px ; margin-top: 15%; padding:4%;">
    <h3><strong>Please Sign up</strong></h3>
    <form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <input type="text" placeholder="Name" name="name" style="margin: 2%;opacity: 0.7;">
        </div>
        <div class="col">
            <input type="text" placeholder="Email" name="email" style="margin: 2%;opacity: 0.7;">
        </div>
    </div>
        <div class="row">
            <input type="password" placeholder="password" name="opass" style="margin: 2%;width:300px ;opacity: 0.7;">
        </div>
        <div class="row">
            <input type="password" placeholder=" confirm password" name="cpass" style="margin: 2%;width:300px;opacity: 0.7;">
        </div>
    <button class="btn btn-success" type="submit">Register</button>
   </form>
   <a href="/">sign in</a>
</div>
</center>
{% endblock body %}
</html>